
	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">Kumpulan Standar</h1>
	    </div>
	</div>

	<div class="row">
		<div class="col-lg-6">
	    	<div class="panel panel-default">
	            <div class="panel-heading clearfix">
	            	<div class="panel-title pull-left">
	            		<h4>Formulir</h4>
	            	</div>
	            </div>

             	<div class="panel-body">
	                <div class="row">
	                	<div class="col-lg-12">
	                		<form name="StandardForm" role="form">
	                			<div class="form-group has-feedback"
	                				ng-class="{
	                					'has-error': vm.exist || StandardForm.description.$invalid && StandardForm.description.$dirty && !vm.loading,
	                					'has-success': !vm.exist && StandardForm.description.$dirty && !vm.loading }">
                                    <label class="control-label">Nama</label>&nbsp;<label style="color: #a94442;">*</label>
	                				<input type="text" name="description" class="form-control" 
	                					ng-model="vm.input.description" ng-required="true" ng-pattern="/^[a-zA-Z0-9(),.& -]+$/">
  									<span class="form-control-feedback" 
  										ng-show="StandardForm.description.$dirty || vm.loading" aria-hidden="true">
  										<i class="fa" ng-class="{ 
  											'fa-close fa-lg': vm.exist || StandardForm.description.$invalid,
  											'fa-spinner fa-pulse fa-lg': vm.loading && StandardForm.description.$valid,
  											'fa-check fa-lg': !vm.exist && StandardForm.description.$valid && !vm.loading }"></i>
  									</span>
  									<div style="color: #a94442;" ng-messages="StandardForm.description.$error " ng-if="StandardForm.description.$dirty">
								        <small ng-message="required">* Standar harus ditentukan terlebih dahulu.</small>
								        <small ng-message="pattern">* Standar harus tidak boleh terdapat karaker spesial.</small>
								    </div>
								    <small ng-show="vm.loading && StandardForm.description.$valid">* Check nama standar</small>
								    <small style="color: #a94442;" ng-show="vm.exist && StandardForm.description.$dirty && !vm.loading ">
								    	* Nama standar ini sudah ada didalam database.
							    	</small>
	                			</div>

	                			<div class="form-group has-feedback"
	                				ng-class="{
	                					'has-error': StandardForm.date.$invalid && StandardForm.date.$dirty}">
	                				<label class="control-label">Tanggal Posting</label>&nbsp;<label style="color: #a94442;">*</label>
	                				<p class="input-group">
              							<input type="date" name="date" class="form-control" datepicker-popup 
              								ng-model="vm.input.date" is-open="vm.status.opened"
              								datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" />
              							<span class="input-group-btn">
                							<button type="button" class="btn btn-default" ng-click="vm.open($event)">
                								<i class="glyphicon glyphicon-calendar"></i>
                							</button>
              							</span>
            						</p>
            						<span style="right: 40px;" class="form-control-feedback" 
  										ng-show="StandardForm.date.$dirty" aria-hidden="true">
  										<i class="fa" ng-class="{ 
  											'fa-close fa-lg': StandardForm.date.$invalid }"></i>
  									</span>
  									<div style="color: #a94442;" ng-messages="StandardForm.date.$error " ng-if="StandardForm.date.$dirty">
								        <small ng-message="required">* Tanggal Standar harus ditentukan terlebih dahulu.</small>
								    </div>
	                			</div>
	                		</form>
	                	</div>
	                </div>
	            </div>

	            <div class="panel-footer clearfix">
	                <div class="panel-title pull-right">
	                	<div class="form-inline">
		                	<a ui-sref="main.admin.standard" class="btn btn-default"><i class="fa fa-undo"></i></a>
		                	<button ng-click="vm.submit()" class="btn btn-primary" 
		                		ng-disabled="(StandardForm.$invalid && vm.validated) || vm.exist || vm.loading">
		                		<i class="fa fa-floppy-o"></i>
		                	</button>
		                </div>
	                </div>
	            </div>

	        </div>
	   	</div>
	</div>

<pre ng-if="debug">
	{{ input.date }}	
</pre>