
<div class="modal-header clearfix">
	<div class="modal-title pull-left">
		<h4>Change Password</h4>
	</div>
</div>

<div class="modal-body">
    <div class="row">
    	<div class="col-lg-12">
            
            <form name="PasswordForm" role="form">
                
                <div class="form-group has-feedback" 
                    ng-class="{ 
                        'has-error': PasswordForm.old.$invalid && PasswordForm.old.$dirty || vm.error.status  }">
                    <label class="control-label">Old Password</label>&nbsp;<label style="color: #a94442;">*</label>
                    <input type="password" name="old" class="form-control" ng-model="vm.input.old" ng-required="true">
                    <span class="form-control-feedback" 
                        ng-show="PasswordForm.old.$dirty" aria-hidden="true">
                        <i class="fa" ng-class="{ 
                            'fa-close fa-lg': PasswordForm.old.$invalid || vm.error.status }"></i>
                    </span>
                    <div style="color: #a94442;" ng-messages="PasswordForm.old.$error" ng-if="PasswordForm.old.$dirty">
                        <small ng-message="required">* Password harus diisi.</small>
                    </div>
                    <small style="color: #a94442;" 
                        ng-show="vm.error.status">
                        * {{ vm.error.message }}
                    </small>
                </div>

                <div class="form-group has-feedback"
                    ng-class="{ 'has-error': (PasswordForm.new.$invalid || (vm.input.new !== vm.input.confirm)) && PasswordForm.new.$dirty }">
                    <label class="control-label">New Password</label>&nbsp;<label style="color: #a94442;">*</label>
                    <input type="password" name="new" class="form-control" ng-model="vm.input.new" ng-required="true">
                    <span class="form-control-feedback" 
                        ng-show="PasswordForm.new.$dirty" aria-hidden="true">
                        <i class="fa" ng-class="{ 
                            'fa-close fa-lg': (PasswordForm.new.$invalid || (vm.input.new !== vm.input.confirm)) && PasswordForm.new.$dirty }"></i>
                    </span>
                    <div style="color: #a94442;" ng-messages="PasswordForm.new.$error" ng-if="PasswordForm.new.$dirty">
                        <small ng-message="required">* Password harus diisi kembali.</small>
                    </div>
                    <small style="color: #a94442;" 
                        ng-show="(PasswordForm.new.$invalid || (vm.input.new !== vm.input.confirm)) && PasswordForm.new.$dirty">
                        * Password tidak sesuai dengan konfirmasi pasword.
                    </small>
                </div>
                
                <div class="form-group has-feedback"
                    ng-class="{ 'has-error': (PasswordForm.confirm.$invalid || (vm.input.new !== vm.input.confirm)) && PasswordForm.confirm.$dirty }">
                    <label class="control-label">Retype Password</label>&nbsp;<label style="color: #a94442;">*</label>
                    <input type="password" name="confirm" class="form-control" ng-model="vm.input.confirm" ng-required="true">
                    <span class="form-control-feedback" 
                        ng-show="PasswordForm.confirm.$dirty" aria-hidden="true">
                        <i class="fa" ng-class="{ 
                            'fa-close fa-lg': (PasswordForm.confirm.$invalid || (vm.input.new !== vm.input.confirm)) && PasswordForm.confirm.$dirty }"></i>
                    </span>
                    <div style="color: #a94442;" ng-messages="PasswordForm.confirm.$error" ng-if="PasswordForm.confirm.$dirty">
                        <small ng-message="required">* Password harus diisi kembali.</small>
                    </div>
                    <small style="color: #a94442;" 
                        ng-show="(PasswordForm.confirm.$invalid || (vm.input.new !== vm.input.confirm)) && PasswordForm.confirm.$dirty">
                        * Password tidak sesuai dengan konfirmasi pasword.
                    </small>
                </div>
                                        
            </form>
            
    	</div>
    </div>
</div>


<div class="modal-footer clearfix">
    <div class="modal-title pull-right">
    	<div class="form-inline">
        	<button ng-click="vm.close()" class="btn btn-default"><i class="fa fa-close"></i></button>
        	<button ng-click="vm.submit()" ng-disabled="(PasswordForm.$invalid && vm.validated)" class="btn btn-primary">
                <i class="fa fa-save"></i>
            </button>
        </div>
    </div>
</div>



<json-formatter ng-if="$root.APP_DEBUG" json="vm.users" open="1"></json-formatter>
