<div class="row">
        
    <stats number="6" comments="New comments!" colour="primary" type="comments"></stats>
    <stats number="12" comments="New tasks!" colour="primary" type="user"></stats>
    <stats number="18" comments="New orders!" colour="yellow" type="shopping-cart"></stats>
    <stats number="24" comments="Support tickets!" colour="red" type="support"></stats>

</div>

<div class="row">
    <div class="col-lg-6 col-sm-12" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading">Line Chart</div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line chart-xl" data="admin.line.data" labels="admin.line.labels" legend="true"
                click="line.onClick" series="admin.line.series"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="bar-chart">
        <div class="panel panel-default">
            <div class="panel-body">
			    <div class="list-group">
			        <a href="#" class="list-group-item">
			            <i class="fa fa-comment fa-fw"></i> New Comment
			            <span class="pull-right text-muted small"><em>4 minutes ago</em>
			            </span>
			        </a>
			        <a href="#" class="list-group-item">
			            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
			            <span class="pull-right text-muted small"><em>12 minutes ago</em>
			            </span>
			        </a>
			        <a href="#" class="list-group-item">
			            <i class="fa fa-envelope fa-fw"></i> Message Sent
			            <span class="pull-right text-muted small"><em>27 minutes ago</em>
			            </span>
			        </a>
			        <a href="#" class="list-group-item">
			            <i class="fa fa-tasks fa-fw"></i> New Task
			            <span class="pull-right text-muted small"><em>43 minutes ago</em>
			            </span>
			        </a>
			        <a href="#" class="list-group-item">
			            <i class="fa fa-upload fa-fw"></i> Server Rebooted
			            <span class="pull-right text-muted small"><em>11:32 AM</em>
			            </span>
			        </a>
			        <a href="#" class="list-group-item">
			            <i class="fa fa-bolt fa-fw"></i> Server Crashed!
			            <span class="pull-right text-muted small"><em>11:13 AM</em>
			            </span>
			        </a>
			        <a href="#" class="list-group-item">
			            <i class="fa fa-warning fa-fw"></i> Server Not Responding
			            <span class="pull-right text-muted small"><em>10:57 AM</em>
			            </span>
			        </a>
			        <a href="#" class="list-group-item">
			            <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
			            <span class="pull-right text-muted small"><em>9:49 AM</em>
			            </span>
			        </a>
			        <a href="#" class="list-group-item">
			            <i class="fa fa-money fa-fw"></i> Payment Received
			            <span class="pull-right text-muted small"><em>Yesterday</em>
			            </span>
			        </a>
			    </div>
    <!-- /.list-group -->
    			<a href="#" class="btn btn-default btn-block">View All Alerts</a>
			</div>
        </div>
    </div>
</div>
