
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Project</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <form name="ProjectForm" role="form" novalidate>


	                <div class="panel-body">
	                    <div class="row">
	                        <div class="col-md-5">
	                            <div class="panel panel-default">
	                               <div class="panel-heading clearfix">
	                                    <div class="panel-title pull-left">
	                                        <h4>Informasi Project</h4>
	                                    </div>
	                                </div>
	
	                                <div class="panel-body">
	                                    <div class="row">
	                                        <div class="col-md-12">
	                                            <div class="form-group has-feedback"
	                                            	ng-class="{
	                                            		'has-error': ProjectForm.name.$invalid && ProjectForm.name.$dirty }">
	                                                <label class="control-label">Nama Project</label>&nbsp;<label style="color: #a94442;">*</label>
	                                                <input type="text" name="name" class="form-control" ng-model="vm.input.name" ng-required="true" ng-pattern="/^[a-zA-Z0-9()., -#()&]*$/">
	                                                <span style="right: 10px;" class="form-control-feedback" 
				  										ng-show="ProjectForm.name.$dirty" aria-hidden="true">
				  										<i class="fa" ng-class="{ 
				  											'fa-close fa-lg': ProjectForm.name.$invalid && ProjectForm.name.$invalid }"></i>
				  									</span>
				  									<div style="color: #a94442;" ng-messages="ProjectForm.name.$error" ng-if="ProjectForm.name.$dirty">
												        <small ng-message="required">* Nama Project harus diisi.</small>
												        <small ng-message="pattern">* Nama Project harus sesuai dengan format yang tepat.</small>
												    </div>
	                                            </div>
	                                            <div class="form-group has-feedback"
	                                            	ng-class="{
	                                            		'has-error': ProjectForm.description.$invalid && ProjectForm.description.$dirty }">
	                                                <label class="control-label">Deskripsi Project</label>&nbsp;<label style="color: #a94442;">*</label>
	                                                <textarea name="description" class="form-control" ng-model="vm.input.description" ng-required="true"></textarea>
	                                                <span style="right: 10px;" class="form-control-feedback" 
				  										ng-show="ProjectForm.description.$dirty" aria-hidden="true">
				  										<i class="fa" ng-class="{ 
				  											'fa-close fa-lg': ProjectForm.description.$invalid && ProjectForm.description.$invalid }"></i>
				  									</span>
	                                                <div style="color: #a94442;" ng-messages="ProjectForm.description.$error" maxlength="255" ng-if="ProjectForm.description.$dirty">
												        <small ng-message="required">* Deskripsi Project harus diisi.</small>
												        <small ng-message="maxlength">* Deskripsi Project tidak lebih dari 255 karakter.</small>
												    </div>
	                                            </div>
	                                            <div class="form-group has-feedback">
	                                                <label class="control-label">Berlaku Mulai</label>&nbsp;<label style="color: #a94442;">*</label>
	                                                <p class="input-group">
	                                                    <input type="date" name="start" class="form-control" datepicker-popup 
	                                                        ng-model="vm.input.start" is-open="vm.status.openedStart" min-date="vm.minDateStart" 
	                                                        datepicker-options="vm.dateOptions" ng-change="vm.pickStart()" ng-required="true" close-text="Close" />
	                                                    <span class="input-group-btn">
	                                                        <button type="button" class="btn btn-default" ng-click="vm.openStart($event)">
	                                                            <i class="glyphicon glyphicon-calendar"></i>
	                                                        </button>
	                                                    </span>
	                                                </p>
	                                            </div>
	
	                                            <div class="form-group has-feedback">
	                                                <label class="control-label">Berakhir hingga</label>&nbsp;<label style="color: #a94442;">*</label>
	                                                <p class="input-group">
	                                                    <input type="date" name="ended" class="form-control" datepicker-popup 
	                                                        ng-model="vm.input.ended" is-open="vm.status.openedEnded" min-date="vm.input.start" 
	                                                        datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" />
	                                                    <span class="input-group-btn">
	                                                        <button type="button" class="btn btn-default" ng-click="vm.openEnded($event)">
	                                                            <i class="glyphicon glyphicon-calendar"></i>
	                                                        </button>
	                                                    </span>
	                                                </p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	
	                        <div class="col-md-7">
	                            <div class="panel panel-default">
	                               <div class="panel-heading clearfix">
	                                    <div class="panel-title pull-left">
	                                        <h4>Project Member</h4>
	                                    </div>
	                                    <div class="panel-title pull-right">
	                                       <button ng-click="vm.addProjectMember()" class="btn btn-primary" popover="Add New Member" popover-trigger="mouseenter"><i class="fa fa-plus"></i></button>
	                                    </div>
	                                </div>
	
	                                <div class="panel-body">
	                                    <div class="table-responsive">
	                                        <table class="table table-hover">
	                                            <thead>
	                                                <tr>
	                                                    <th>#</th>
	                                                    <th><a href="" ng-click="sortField = 'nama'     ; reverse = !reverse">*</a></th>
	                                                    <th><a href="" ng-click="sortField = 'start'    ; reverse = !reverse">Nama</a></th>
	                                                </tr>
	                                            </thead>
	                                            <tbody>
	                                                <tr ng-repeat="object in vm.users | filter:query | orderBy:sortField:reverse track by $index">
	                                                    <td>{{ $index + 1 }}</td>
	                                                    <td><a href="" ng-click="vm.setLeader(object)"><i class="fa" ng-class="{
	                                                        'fa-star-o': object.leader == false,
	                                                        'fa-star': object.leader == true,
	                                                    }"></i></a></td>
	                                                    <td>{{ object.name }}</td>
	                                                </tr>
	                                            </tbody>
	                                        </table>
	                                    </div>
	                                </div>
	
	                            </div>
	                        </div>
	
	                        <div class="col-md-12">
	                           <node-list ng-model="vm.projects" node-controller="NodeProjectController"></node-list>
	                        </div>
	                    </div>
	                    <hr/>
	                    <strong ng-if="vm.msg" style="color: #a94442;">Error:</strong>
	                    <ul ng-repeat="err in vm.msg track by $index">
	                        <li><small style="color: #a94442;">{{ err }}</small></li>
	                    </ul>
	
	                </div>
	
	
	                
	                <div class="panel-footer clearfix">
	                    <div class="panel-title pull-right">
	                        <div class="form-inline">
	                            <a ui-sref="main.admin.project" class="btn btn-default"><i class="fa fa-undo"></i></a>
	                            <button class="btn btn-primary" ng-click="vm.submit()" ng-disabled="validated && (SemesterForm.$invalid || !vm.input.type || invalidYear || include.status || rangeIntersectStart.status || rangeIntersectEnded.status)"><i class="fa fa-save"></i></button>
	                        </div>
	                    </div>
	                </div>
	         
				</form>
            </div>
        </div>
    </div>
    
<pre ng-if="admin.debug">
    {{ vm.input | json }}
</pre>

