
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Project</h1>
        </div>
        
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <form name="ProjectForm" role="form" novalidate>


	                <div class="panel-body">
	                    <div class="row">
	                        <div class="col-md-6">
                              
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <div class="panel-title pull-left">
                                                <h4>Project Information</h4>
                                            </div>
                                        </div>
                                        
                                        <div class="panel-body">
                                            <div class="row">
                                                <div ng-if="!vm.canModifyProject" class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Nama Project</label><br/>
                                                        {{ vm.input.name }}
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Deskripsi Project</label><br/>
                                                        {{ vm.input.description }}
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Periode</label><br/>
                                                        {{ vm.input.start | date: 'dd-MM-yyyy' }}&nbsp;s/d&nbsp;{{ vm.input.ended | date: 'dd-MM-yyyy' }}
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label class="control-label">Project Assessment Type</label><br/>
                                                        {{ (vm.input.type == 'f') ? 'Full Assessment' : 'Partial Assessment' }}
                                                    </div>
                                                    
                                                </div>
                                            
                                                <div ng-if="vm.canModifyProject" class="col-md-12">
                                                    <div class="form-group has-feedback"
                                                        ng-class="{
                                                            'has-error': ProjectForm.name.$invalid && ProjectForm.name.$dirty }">
                                                        <label class="control-label">Nama Project</label>&nbsp;<label style="color: #a94442;">*</label>
                                                        <input type="text" name="name" class="form-control" ng-model="vm.input.name" ng-required="true" ng-pattern="/^[a-zA-Z0-9()., -#()&/-]*$/">
                                                        <span style="right: 10px;" class="form-control-feedback" 
                                                            ng-show="ProjectForm.name.$dirty" aria-hidden="true">
                                                            <i class="fa" ng-class="{ 
                                                                'fa-close fa-lg': ProjectForm.name.$invalid && ProjectForm.name.$invalid }"></i>
                                                        </span>
                                                        <div style="color: #a94442;" ng-messages="ProjectForm.name.$error" ng-if="ProjectForm.name.$dirty">
                                                            <small ng-message="required">* Nama Project harus diisi.</small>
                                                            <small ng-message="pattern">* Nama Project harus sesuai dengan format yang tepat.</small>
                                                        </div>
                                                    </div>
                                                    <div class="form-group has-feedback"
                                                        ng-class="{
                                                            'has-error': ProjectForm.description.$invalid && ProjectForm.description.$dirty }">
                                                        <label class="control-label">Deskripsi Project</label>&nbsp;<label style="color: #a94442;">*</label>
                                                        <textarea name="description" class="form-control" ng-model="vm.input.description" ng-required="true"></textarea>
                                                        <span style="right: 10px;" class="form-control-feedback" 
                                                            ng-show="ProjectForm.description.$dirty" aria-hidden="true">
                                                            <i class="fa" ng-class="{ 
                                                                'fa-close fa-lg': ProjectForm.description.$invalid && ProjectForm.description.$invalid }"></i>
                                                        </span>
                                                        <div style="color: #a94442;" ng-messages="ProjectForm.description.$error" maxlength="255" ng-if="ProjectForm.description.$dirty">
                                                            <small ng-message="required">* Deskripsi Project harus diisi.</small>
                                                            <small ng-message="maxlength">* Deskripsi Project tidak lebih dari 255 karakter.</small>
                                                        </div>
                                                    </div>
                                                    <div class="form-group has-feedback"
                                                        ng-class="{
                                                            'has-error': ProjectForm.start.$invalid && ProjectForm.start.$dirty }">
                                                        <label class="control-label">Berlaku Mulai</label>&nbsp;<label style="color: #a94442;">*</label>
                                                        <p class="input-group">
                                                            <input type="date" name="start" class="form-control" datepicker-popup 
                                                                ng-model="vm.input.start" is-open="vm.datePickerStatus.openedStart" min-date="vm.minDateStart" 
                                                                datepicker-options="vm.dateOptions" ng-change="vm.pickStart()" ng-required="true" close-text="Close" />
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default" ng-click="vm.openStart($event)">
                                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                                </button>
                                                            </span>
                                                        </p>
                                                    </div>
                                                
        
                                                    <div class="form-group has-feedback"
                                                        ng-class="{
                                                            'has-error': ProjectForm.ended.$invalid && ProjectForm.ended.$dirty }">
                                                        <label class="control-label">Berakhir hingga</label>&nbsp;<label style="color: #a94442;">*</label>
                                                        <p class="input-group">
                                                            <input type="date" name="ended" class="form-control" datepicker-popup 
                                                                ng-model="vm.input.ended" is-open="vm.datePickerStatus.openedEnded" min-date="vm.input.start" 
                                                                datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" />
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default" ng-click="vm.openEnded($event)">
                                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                                </button>
                                                            </span>
                                                        </p>
                                                    </div>
                                                    
                                                    <div class="form-group has-feedback" style="padding-top: 6px; padding-bottom: 6px;"
                                                        ng-class="{ 'has-error': !vm.input.type && ProjectForm.type.$dirty }">
                                                        <label class="control-label">Project Assessment Type</label>&nbsp;<label style="color: #a94442;">*</label><br/>
                                                        <label class="radio-inline"><input type="radio" ng-required="true" name="type" ng-model="vm.input.type" value="f">Full Assessment</label>
                                                        <label class="radio-inline"><input type="radio" ng-required="true" name="type" ng-model="vm.input.type" value="p">Partial Assessment</label>
                                                        <span class="form-control-feedback" 
                                                            ng-show="ProjectForm.type.$dirty" aria-hidden="true">
                                                            <i class="fa" ng-class="{ 
                                                                'fa-close fa-lg': !vm.input.type && ProjectForm.type.$dirty }"></i>
                                                        </span><br/>
                                                        <small style="color: #a94442;"  ng-show="!vm.input.type && ProjectForm.type.$dirty">* Project assessment type is required.</small>
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div ng-if="vm.showAllocation">
                                        <div class="panel panel-default">
                                            <div class="panel-heading clearfix">
                                                <div class="panel-title pull-left">
                                                    <h4>Resource Allocation</h4>
                                                </div>
                                            </div>
            
                                            <div class="panel-body">
                                                <canvas id="doughnut" class="chart chart-doughnut"
                                                    chart-data="vm.data" chart-labels="vm.label" chart-click="vm.userReport($event)" chart-legend="true">
                                                </canvas> 
                                                
                                                <json-formatter ng-if="admin.debug || user.debug" json="vm.dataLabel" open="1"></json-formatter>

                                            </div>
                                        </div>
                                    </div>
                               
	                        </div>
	
	                        <div class="col-md-6">
                         
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <div class="panel-title pull-left">
                                                <h4>Project Members</h4>
                                            </div>
                                            <div class="panel-title pull-right" ng-if="vm.canAddMember">
                                                <button ng-click="vm.addProjectMember()" class="btn btn-primary" popover="Add New Members" popover-trigger="mouseenter"><i class="fa fa-user-plus"></i></button>
                                            </div>
                                        </div>
        
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th><a href="" ng-click="sortField = 'nama'     ; reverse = !reverse">*</a></th>
                                                            <th><a href="" ng-click="sortField = 'start'    ; reverse = !reverse">Nama</a></th>
                                                            <th ng-if="vm.isLeader()">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                        <tr ng-repeat="object in vm.input.users | filter:query | orderBy:sortField:reverse track by $index">
                                                            <td>{{ $index + 1 }}</td>
                                                            <td>
                                                                <a ng-if="vm.canChangeLeader" href="" ng-click="vm.setLeader(object)">
                                                                    <i class="fa" ng-class="{
                                                                        'fa-star-o': object.leader == false,
                                                                        'fa-star': object.leader == true}">
                                                                    </i>
                                                                </a>
                                                                <a ng-if="!vm.canChangeLeader">
                                                                    <i class="fa" ng-class="{
                                                                        'fa-star-o': object.leader == false,
                                                                        'fa-star': object.leader == true}">
                                                                    </i>
                                                                </a>
                                                            </td>
                                                            <td>{{ object.name }}</td>
                                                            <td ng-if="vm.isLeader()">
                                                                <button class="btn btn-default btn-xs" ng-click="vm.reportUser(object)">
                                                                    <i class="fa fa-dashboard"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div><!-- close panel body project member -->
                                    </div><!-- close panel project member -->
                                    
                                    <!-- panel project projet Assessor -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <div class="panel-title pull-left">
                                                <h4>Project Assessors</h4>
                                            </div>
                                            
                                            <div class="panel-title pull-right" ng-if="vm.canAddAssessors">
                                                <button ng-click="vm.addProjectAssessor()" class="btn btn-primary" popover="Add New Assessors" popover-trigger="mouseenter"><i class="fa fa-user-plus"></i></button>
                                            </div>
                                        </div>
        
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th><a href="" ng-click="sortField = 'start'    ; reverse = !reverse">Nama</a></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="object in vm.input.assessors | filter:query | orderBy:sortField:reverse track by $index">
                                                            <td>{{ $index + 1 }}</td>
                                                            <td>{{ object.name }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div><!-- close panel body project member -->
                                    </div><!-- close panel project member -->
                         
	                        </div>
                            
                            
                            
                            
	                   </div>
                       
                       <div class="row">
	                        <div class="col-md-12">
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-left">
                                            <button class="btn" ng-if="vm.showStatus" popover="This project status is {{ vm.status.text }}" 
                                                popover-trigger="mouseenter" ng-class="{
                                                    'btn-warning': vm.status.code == '0',
                                                    'btn-default': vm.status.code == '1',
                                                    'btn-info': vm.status.code == '2',
                                                    'btn-primary': vm.status.code == '3',
                                                    'btn-success': vm.status.code == '4',
                                                    'btn-danger': vm.status.code == '5'
                                                }">
                                                {{ vm.status.text }}
                                            </button>
                                            
                                            <span ng-if="vm.input.score">&nbsp;</span>
                                            <button ng-if="vm.input.score" popover="Score for this project {{ vm.input.score | number : 2 }}" 
                                                popover-trigger="mouseenter" class="btn" ng-class="{
                                                    'btn-success': vm.input.score >= 3.5,
                                                    'btn-primary': vm.input.score < 3.5 && vm.input.score >= 2.5,
                                                    'btn-warning': vm.input.score < 2.5 && vm.input.score >= 1.5,
                                                    'btn-danger': vm.input.score < 1.5 
                                                }">{{ vm.input.score | number : 2 }}
                                            </button>
                                            
                                            <span ng-if="vm.input.unsigned">&nbsp;</span>
                                            <button ng-if="vm.input.unsigned" popover="Project ini terdapat butir pekerjaan yang belum diberikan penilaian" 
                                                popover-trigger="mouseenter" class="btn btn-default">
                                                <i class="fa fa-exclamation-triangle"></i>
                                            </button>
                                            
                                        </div>
                                        <div ng-if="vm.status.code == '2'" class="pull-right">
                                            
                                            <button class="btn btn-warning" ng-if="vm.showLock" ng-click="vm.lock()" popover-trigger="mouseenter"
                                                popover="This project is currently {{ (vm.input.lock == 1) ? 'Locked' : 'Unlocked' }}" >
                                                <i class="fa" ng-class="{
                                                    'fa-lock': vm.input.lock == 1,
                                                    'fa-unlock': vm.input.lock == 0 }"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-md-12">
                                <node-list ng-model="vm.nodes" users="vm.input.users" assessors="vm.input.assessors" setting="vm.setting" node-controller="NodeProjectController"></node-list>
                            </div>
	                    </div>
	                    <hr/>
                        
	                    <strong ng-if="vm.msg.general.length 
                            && vm.msg.noChild.length
                            && vm.msg.noForm.length
                            && vm.msg.noWeight.length" style="color: #a94442;">Validation Error: Detail of error can be shown on new opened browser window</strong>
	                </div>
	
	
	                
	                <div class="panel-footer clearfix">
	                    <div class="panel-title pull-right">
	                        <div class="form-inline">
                                
                                <button ng-if="vm.mark == '3' || vm.mark == '2'" class="btn" ng-class="{
                                        'btn-success': vm.mark == '2',
                                        'btn-danger': vm.mark == '3'
                                    }" ng-click="vm.markAs()"><i class="fa" ng-class="{
                                        'fa-check': vm.mark == '2',
                                        'fa-ban': vm.mark == '3'
                                    }"></i>
                                </button>
                                
	                            <button ng-click="vm.back()" class="btn btn-default"><i class="fa fa-undo"></i></button>
                                <button ng-if="vm.hasCheckpoint" class="btn btn-warning" ng-click="vm.checkpoint()" 
                                    ng-disabled="validated && (SemesterForm.$invalid || !vm.input.type || invalidYear || include.status || 
                                        rangeIntersectStart.status || rangeIntersectEnded.status)"><i class="fa fa-sticky-note-o"></i>
                                </button>
	                            <button ng-if="vm.hasSubmit" class="btn btn-primary" ng-click="vm.submit()" 
                                    ng-disabled="validated && (SemesterForm.$invalid || !vm.input.type || invalidYear || 
                                        include.status || rangeIntersectStart.status || rangeIntersectEnded.status)"><i class="fa fa-save"></i>
                                </button>
                                
	                        </div>
	                    </div>
	                </div>
	         
				</form>
            </div>
        </div>
    </div>
    

<json-formatter ng-if="$root.APP_DEBUG" json="vm.input" open="1"></json-formatter>

