
	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">Department</h1>
	    </div>
	</div>

	<div class="row">
		<div class="col-lg-6">
	    	<div class="panel panel-default">
	            <div class="panel-heading clearfix">
	            	<div class="panel-title pull-left">
	            		<h4>Formulir</h4>
	            	</div>
	            </div>

             	<div class="panel-body">
	                <div class="row">
	                	<div class="col-lg-12">
	                		<form name="DepartmentForm" role="form" enctype="multipart/form-data">

	                			<div class="form-group has-feedback"
	                				ng-class="{
	                					'has-error': DepartmentForm.university_id.$invalid && DepartmentForm.university_id.$dirty && !loadingUniversity }">
                                    <label class="control-label">Universitas</label>&nbsp;<label style="color: #a94442;">*</label>
                                    <select class="form-control" name="university_id" ng-options="option.id as option.name for option in universities"  
                                    	ng-model="input.university_id" ng-change="select()" ng-required="true">
                                    </select>
                                    <span style="right: 10px;" class="form-control-feedback" 
  										ng-show="DepartmentForm.university_id.$dirty || loadingUniversity" aria-hidden="true">
  										<i class="fa" ng-class="{ 
  											'fa-close fa-lg': DepartmentForm.university_id.$invalid && DepartmentForm.university_id.$dirty }"></i>
  									</span>
  									<span style="right: 10px;" ng-show="loadingUniversity" class="form-control-feedback" aria-hidden="true">
  										<i class="fa fa-spinner fa-pulse fa-lg"></i>
  									</span>

  									<div style="color: #a94442;" ng-messages="DepartmentForm.university_id.$error" ng-if="DepartmentForm.university_id.$dirty">
								        <small ng-message="required">* Universitas harus ditentukan terlebih dahulu.</small>
								    </div>
								    <small ng-show="loadingUniversity">* Load nama university</small>

                                </div>

                                <div class="form-group has-feedback">
                                    <label>Department Induk</label>
                                    <select class="form-control" name="department_id" ng-options="option.id as option.name for option in departments"  
                                    	ng-model="input.department_id" ng-disabled="!input.university_id || loadingDepartment">
                                    </select>
                                    <span style="right: 10px;" class="form-control-feedback" 
  										ng-show="loadingDepartment" aria-hidden="true">
  										<i class="fa fa-spinner fa-pulse fa-lg"></i>
  									</span>
  									<small ng-show="loadingDepartment && DepartmentForm.department_id.$valid">* Load nama department</small>
                                </div>

	                			<div class="form-group has-feedback"
	                				ng-class="{
		                				'has-error': exist || DepartmentForm.name.$invalid && DepartmentForm.name.$dirty && !loading,
		                				'has-success': !exist && DepartmentForm.name.$dirty && !loading }">
	                				<label class="control-label">Nama Department</label>&nbsp;<label style="color: #a94442;">*</label>
	                				<input type="text" name="name" class="form-control" ng-model="input.name"
	                					ng-required="true" ng-pattern="/^[a-zA-Z0-9 -]*$/">
	                				<span class="form-control-feedback" 
  										ng-show="DepartmentForm.name.$dirty" aria-hidden="true">
  										<i class="fa" ng-class="{ 
  											'fa-close fa-lg': exist || DepartmentForm.name.$invalid && DepartmentForm.name.$dirty,
  											'fa-spinner fa-pulse fa-lg': loading && DepartmentForm.name.$dirty && DepartmentForm.name.$valid,
  											'fa-check fa-lg': !exist && DepartmentForm.name.$valid && DepartmentForm.name.$dirty && !loading }"></i>
  									</span>
  									<div style="color: #a94442;" ng-messages="DepartmentForm.name.$error" ng-if="DepartmentForm.name.$dirty">
								        <small ng-message="required">* Nama Department harus diisi.</small>
								        <small ng-message="pattern">* Nama Department tidak boleh terdapat simbol.</small>
								    </div>
								    <small ng-show="loading && DepartmentForm.name.$valid">* cheking nama department</small>
								    <small style="color: #a94442;" ng-show="exist && DepartmentForm.name.$dirty && !loading ">* Nama department ini sudah ada didalam database.</small>
	                			</div>

	                		</form>
	                	</div>
	                </div>
	            </div>

	            <div class="panel-footer clearfix">
	                <div class="panel-title pull-right">
	                	<div class="form-inline">
		                	<a ui-sref="main.admin.department" class="btn btn-default"><i class="fa fa-undo"></i></a>
		                	<button class="btn btn-primary" ng-click="submit()" ng-disabled="(validated && DepartmentForm.$invalid) || exist"><i class="fa fa-save"></i></button>
		                </div>
	                </div>
	            </div>

	        </div>
	   	</div>
	</div>

{{ input.university_id }}
<pre ng-if="debug">
{{ input | json }}
</pre>