<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Form</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                Clean Soft Delete Records
            </div>

            <div class="panel-body">
                <p>Clean Soft Delete Records</p>
                <button class="btn btn-warning" ng-click="vm.clean()">Clean</button>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                Export Project Files and Records to Business Intelligence
            </div>

            <div class="panel-body">
                <p>Export Project Files and Records to Business Intelligence</p>
                <button class="btn btn-warning" ng-click="vm.export()">Export</button>
            </div>
        </div>
    </div>
</div>