
	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">Dokumen Pedoman Mutu</h1>
	    </div>
	</div>

	<div class="row">
		<div class="col-lg-6">
	    	<div class="panel panel-default">
	            <div class="panel-heading clearfix">
	            	<div class="panel-title pull-left">
	            		<h4>Formulir</h4>
	            	</div>
	            </div>

             	<div class="panel-body">
	                <div class="row">
	                	<div class="col-lg-12">
	                		<form name="GuideForm" role="form" enctype="multipart/form-data">

	                			<div class="form-group has-feedback"
	                				ng-class="{
	                					'has-error': GuideForm.standard_id.$invalid && GuideForm.standard_id.$dirty && !vm.loadingStandard }">
                                    <label class="control-label">Standar</label>&nbsp;<label style="color: #a94442;">*</label>
                                    <select name="standard_id" class="form-control" ng-options="option.id as option.description for option in vm.standards" 
                                    	ng-model="vm.standard_id" ng-change="vm.select(vm.standard_id)" ng-required="true">
                                    </select>
                                    <span style="right: 10px;" class="form-control-feedback" 
  										ng-show="GuideForm.standard_id.$dirty || vm.loadingStandard" aria-hidden="true">
  										<i class="fa" ng-class="{ 
  											'fa-close fa-lg': GuideForm.standard_id.$invalid && GuideForm.standard_id.$dirty && !vm.loadingStandard }"></i>
  									</span>
  									<span style="right: 10px;" ng-show="vm.loadingStandard" class="form-control-feedback" aria-hidden="true">
  										<i class="fa fa-spinner fa-pulse fa-lg"></i>
  									</span>
  									<div style="color: #a94442;" ng-messages="GuideForm.standard_id.$error" ng-if="GuideForm.standard_id.$dirty">
								        <small ng-message="required">* Standar harus ditentukan terlebih dahulu.</small>
								    </div>
								    <small ng-show="vm.loadingStandard">* Load nama standar</small>
                                </div>

                                <div class="form-group has-feedback"
	                				ng-class="{
	                					'has-error': GuideForm.standard_document_id.$invalid && GuideForm.standard_document_id.$dirty && 
	                						!vm.loadingStandardDocument && vm.hasStandard }">
                                    <label class="control-label">Dokumen Standard</label>&nbsp;<label style="color: #a94442;">*</label>
                                    <select name="standard_document_id" class="form-control" ng-options="option.id as option.description for option in vm.standardDocuments"  
                                    	ng-model="vm.input.standard_document_id" ng-disabled="!vm.standard_id || vm.loadingStandardDocument || !vm.hasStandard" ng-required="true">
                                    </select>
                                    <span style="right: 10px;" class="form-control-feedback" 
  										ng-show="GuideForm.standard_document_id.$dirty || vm.loadingStandardDocument" aria-hidden="true">
  										<i class="fa" ng-class="{ 
  											'fa-close fa-lg': GuideForm.standard_document_id.$invalid && GuideForm.standard_document_id.$dirty && 
  												!vm.loadingStandardDocument && vm.hasStandard }"></i>
  									</span>
  									<span style="right: 10px;" ng-show="vm.loadingStandardDocument" class="form-control-feedback" aria-hidden="true">
  										<i class="fa fa-spinner fa-pulse fa-lg"></i>
  									</span>

  									<div style="color: #a94442;" ng-messages="GuideForm.standard_document_id.$error" 
  										ng-if="GuideForm.standard_document_id.$dirty && vm.hasStandard">
								        <small ng-message="required">* Standar harus ditentukan terlebih dahulu.</small>
								    </div>
								    <small ng-show="vm.loadingStandardDocument">* Load nama Standar Document</small>
								    <small ng-show="!vm.hasStandard && !vm.loadingStandardDocument">* Standar ini belum memiliki Dokumen Standar. harap buat Dokumen Standar terlebih dahulu</small>
                                </div>

                                <div class="form-group has-feedback"
	                				ng-class="{
	                					'has-error': (vm.existNo && !vm.loadingNo) || GuideForm.no.$invalid && GuideForm.no.$dirty && vm.hasStandard,
	                					'has-success': !vm.existNo && GuideForm.no.$valid && GuideForm.no.$dirty && !vm.loadingNo }">
	                				<label class="control-label">Nomor Dokumen Pedoman Mutu</label>&nbsp;<label style="color: #a94442;">*</label>
	                				<input type="text" name="no" class="form-control"
	                					ng-model="vm.input.no" ng-required="true" ng-pattern="/^[a-zA-Z0-9(),.& -]+$/" 
	                					ng-disabled="!vm.hasStandard || !vm.input.standard_document_id">
	                				<span class="form-control-feedback" 
  										ng-show="GuideForm.no.$dirty || vm.loadingNo" aria-hidden="true">
  										<i class="fa" ng-class="{ 
  											'fa-close fa-lg': vm.existNo || GuideForm.no.$invalid && vm.hasStandard,
  											'fa-spinner fa-pulse fa-lg': vm.loadingNo && GuideForm.no.$valid,
  											'fa-check fa-lg': !vm.existNo && GuideForm.no.$valid && !vm.loadingNo }"></i>
  									</span>
  									<div style="color: #a94442;" ng-messages="GuideForm.no.$error " 
  										ng-if="GuideForm.no.$dirty && vm.hasStandard">
								        <small ng-message="required">* Nomor Dokumen Pedoman Mutu harus ditentukan terlebih dahulu.</small>
								        <small ng-message="pattern">* Nomor Dokumen Pedoman Mutu harus tidak boleh terdapat karaker spesial.</small>
								    </div>
								    <small ng-show="vm.loadingNo && GuideForm.no.$valid">* Check Nomor Dokumen Pedoman Mutu</small>
								    <small style="color: #a94442;" ng-show="vm.existNo && GuideForm.no.$valid && GuideForm.no.$dirty && !vm.loadingNo ">
								    	* Nomor Dokumen Pedoman Mutu ini sudah ada didalam database.
							    	</small>
	                			</div>


                                <div class="form-group has-feedback"
	                				ng-class="{
	                					'has-error': GuideForm.date.$invalid && GuideForm.date.$dirty && vm.hasStandard}">
	                				<label class="control-label">Tanggal Dokumen Pedoman Mutu</label>&nbsp;<label style="color: #a94442;">*</label>
	                				<p class="input-group">
              							<input type="date" name="date" class="form-control" datepicker-popup datepicker-options="vm.dateOptions" 
              								ng-model="vm.input.date" is-open="vm.status.opened" ng-required="true" ng-disabled="!vm.hasStandard || !vm.input.standard_document_id" close-text="Close" />
              							<span class="input-group-btn">
                							<button type="button" class="btn btn-default" ng-click="vm.open($event)" ng-disabled="!vm.hasStandard || !vm.input.standard_document_id">
                								<i class="glyphicon glyphicon-calendar"></i>
                							</button>
              							</span>
            						</p>
            						<span style="right: 40px;" class="form-control-feedback" 
  										ng-show="GuideForm.date.$dirty" aria-hidden="true">
  										<i class="fa" ng-class="{ 
  											'fa-close fa-lg': GuideForm.date.$invalid }"></i>
  									</span>
  									<div style="color: #a94442;" ng-messages="GuideForm.date.$error " ng-if="GuideForm.date.$dirty">
								        <small ng-message="required">* Tanggal Standar harus ditentukan terlebih dahulu.</small>
								    </div>
	                			</div>

	                			<div class="form-group has-feedback"
	                				ng-class="{
	                					'has-error': vm.existDescription || GuideForm.description.$invalid && GuideForm.description.$dirty && 
	                						!vm.loadingDescription  && vm.hasStandard,
	                					'has-success': !vm.existDescription && GuideForm.no.$valid && GuideForm.description.$dirty && !vm.loadingDescription }">
	                				<label class="control-label">Nama Dokumen Pedoman Mutu</label>&nbsp;<label style="color: #a94442;">*</label>
	                				<input type="text" name="description" class="form-control" 
	                					ng-model="vm.input.description" ng-required="true" ng-pattern="/^[a-zA-Z0-9(),.& -]+$/" 
	                					ng-disabled="!vm.hasStandard || !vm.input.standard_document_id">
	                				<span class="form-control-feedback" 
  										ng-show="GuideForm.description.$dirty || vm.loadingDescription" aria-hidden="true">
  										<i class="fa" ng-class="{ 
  											'fa-close fa-lg': vm.existDescription || GuideForm.description.$invalid && vm.hasStandard,
  											'fa-spinner fa-pulse fa-lg': vm.loadingDescription && GuideForm.description.$valid,
  											'fa-check fa-lg': !vm.existDescription && GuideForm.description.$valid && !vm.loadingDescription }"></i>
  									</span>
  									<div style="color: #a94442;" ng-messages="GuideForm.description.$error" 
  										ng-if="GuideForm.description.$dirty && vm.hasStandard">
								        <small ng-message="required">* Nama Dokumen Pedoman Mutu harus ditentukan terlebih dahulu.</small>
								        <small ng-message="pattern">* Nama Dokumen Pedoman Mutu harus tidak boleh terdapat karaker spesial.</small>
								    </div>
								    <small ng-show="vm.loadingDescription && GuideForm.description.$valid">* Check Nama Dokumen Pedoman Mutu</small>
								    <small style="color: #a94442;" ng-show="vm.existDescription && GuideForm.description.$dirty && !vm.loadingDescription ">
								    	* Nama Dokumen Pedoman Mutu ini sudah ada didalam database.
							    	</small>
	                			</div>

	                			<div class="form-group has-feedback"
	                				ng-class="{
	                					'has-error': GuideForm.file.$invalid && GuideForm.file.$dirty && vm.hasStandard }">
	                				<label class="control-label">File Dokumen Pedoman Mutu</label>&nbsp;<label style="color: #a94442;">*</label>
	                				<input type="file" name="file" class="form-control" ngf-select ngf-max-size="100MB" accept="*" 
	                					ng-model="vm.input.file" ng-required="vm.requiredUpload" ng-disabled="!vm.hasStandard || !vm.input.standard_document_id">
	                				<span class="form-control-feedback" 
  										ng-show="GuideForm.file.$dirty && vm.hasStandard" aria-hidden="true">
  										<i class="fa" ng-class="{ 
  											'fa-close fa-lg': GuideForm.file.$invalid,
  											'fa-check fa-lg': GuideForm.file.$valid }"></i>
  									</span>
  									<div style="color: #a94442;" ng-messages="GuideForm.file.$error " 
  										ng-if="GuideForm.file.$dirty && vm.hasStandard">
								        <small ng-message="required">* Document terkait harus dilampirkan.</small>
								    </div>
								    <small ng-show="vm.input.document"><a target="_blank" ng-href="{{ $root.FILE_HOST }}/upload/guide/{{ vm.input.document }}">* {{ vm.input.document }}</a></small>
	                			</div>

	                		</form>
	                	</div>
	                </div>
	            </div>

	            <div class="panel-footer clearfix">
	                <div class="panel-title pull-right">
	                	<div class="form-inline">
		                	<a ui-sref="main.admin.guide" class="btn btn-default"><i class="fa fa-undo"></i></a>
		                	<button ng-click="vm.submit(vm.file)" class="btn btn-primary"
		                		ng-disabled="(GuideForm.$invalid && vm.validated) || vm.existNo || vm.existDescription || vm.loadingNo || vm.loadingDescription">
		                		<i class="fa fa-save"></i>
		                	</button>
		                </div>
	                </div>
	            </div>

	        </div>
	   	</div>
	</div>

<pre ng-if="debug">
	{{ input }}
</pre>