
<div class="row">
    <nav class="navbar navbar-default" role="navigation"></nav>

    <div class="container">
        
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Server Error</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <p>Mohon maaf, terjadi kesalahan pada server. Silahkan kontak administrator untuk info lebih lanjut. Terima kasih</p>
            </div>
        </div>


    </div>

</div>