
<div class="row">
    <nav class="navbar navbar-default" role="navigation"></nav>

    <div class="container">
        
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Email Authentication Required</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <p>Kami telah mengirimkan email permintaan autentikasi user melalui email Anda <a href="">{{ email }}</a>. Apablia anda belum menerima email dari kami, <a href="">kirim ulang</a></p>
            </div>
        </div>


    </div>

</div>
