

	            <div class="modal-header clearfix">
	            	<div class="modal-title pull-left">
	            		<h4>Formulir</h4>
	            	</div>
	            </div>

             	<div class="modal-body">
	                <div class="row">
	                	<div class="col-lg-12">
	                		<form name="FormForm" role="form" enctype="multipart/form-data">

	                			<div class="form-group has-feedback"
	                				ng-class="{
	                					'has-error': FormForm.standard.$invalid && FormForm.standard.$dirty && 
	                						!vm.loadingStandard }">
                                    <label class="control-label">Standar</label>&nbsp;<label style="color: #a94442;">*</label>
                                    <select name="standard" class="form-control" 
                                    	ng-options="option as option.no + ' ' + option.description for option in vm.standards" 
                                    	ng-model="vm.standard" ng-change="vm.selectStandard(vm.standard.id)" ng-disabled="vm.loadingStandard" ng-required="true">
                                    </select>
                                    <span style="right: 10px;" class="form-control-feedback" 
  										ng-show="FormForm.standard.$dirty || vm.loadingStandard" aria-hidden="true">
  										<i class="fa" ng-class="{ 
  											'fa-close fa-lg': FormForm.standard.$invalid && FormForm.standard.$dirty && 
  												!vm.loadingStandard }"></i>
  									</span>
  									<span style="right: 10px;" ng-show="vm.loadingStandard" class="form-control-feedback" aria-hidden="true">
  										<i class="fa fa-spinner fa-pulse fa-lg"></i>
  									</span>
  									<div style="color: #a94442;" ng-messages="FormForm.standard.$error" 
  										ng-if="FormForm.standard.$dirty">
								        <small ng-message="required">* Standar harus ditentukan terlebih dahulu.</small>
								    </div>
								    <small ng-show="vm.loadingStandard">* Load nama standar</small>
                                </div>

                                <div class="form-group has-feedback"
	                				ng-class="{
	                					'has-error': FormForm.standard_document.$invalid && FormForm.standard_document.$dirty && 
	                						!vm.loadingStandardDocument && vm.hasStandard && vm.standard}">
                                    <label class="control-label">Dokumen Standard</label>&nbsp;<label style="color: #a94442;">*</label>
                                    <select name="standard_document" class="form-control" 
                                    	ng-options="option as option.no + ' ' + option.description for option in vm.standardDocuments"  
                                    	ng-model="vm.standard_document" ng-change="vm.selectStandardDocument(vm.standard_document.id)" 
                                    	ng-disabled="!vm.standard || vm.loadingStandardDocument || !vm.hasStandard" ng-required="true">
                                    </select>
                                    <span style="right: 10px;" class="form-control-feedback" 
  										ng-show="FormForm.standard_document.$dirty || vm.loadingStandardDocument" aria-hidden="true">
  										<i class="fa" ng-class="{ 
  											'fa-close fa-lg': FormForm.standard_document.$invalid && FormForm.standard_document.$dirty 
  												&& !vm.loadingStandardDocument && vm.hasStandard && vm.standard }"></i>
  									</span>
  									<span style="right: 10px;" ng-show="vm.loadingStandardDocument" class="form-control-feedback" aria-hidden="true">
  										<i class="fa fa-spinner fa-pulse fa-lg"></i>
  									</span>
  									<div style="color: #a94442;" ng-messages="FormForm.standard_document.$error" 
  										ng-if="FormForm.standard_document.$dirty && vm.hasStandard && vm.standard">
								        <small ng-message="required">* Standar harus ditentukan terlebih dahulu.</small>
								    </div>
								    <small ng-show="vm.loadingStandardDocument">* Load nama Standar Document</small>
								    <small ng-show="!vm.hasStandard && !vm.loadingStandardDocument">* Standar ini belum memiliki Dokumen Standar. harap buat Dokumen Standar terlebih dahulu</small>
                                </div>

	                			<div class="form-group has-feedback"
	                				ng-class="{
	                					'has-error': FormForm.guide.$invalid && FormForm.guide.$dirty && !vm.loadingGuide && vm.hasStandard && 
	                						vm.hasStandardDocument && vm.standard_document }">
                                    <label class="control-label">Pedoman Mutu</label>&nbsp;<label style="color: #a94442;">*</label>
                                    <select name="guide" class="form-control" 
                                    ng-options="option as option.no + ' ' + option.description for option in vm.guides"  
                                    	ng-model="vm.guide" ng-change="vm.selectGuide(vm.guide.id)"  ng-required="true"
                                    	ng-disabled="!vm.standard || !vm.standard_document || vm.loadingStandardDocument || !vm.hasStandard || !vm.hasStandardDocument" >
                                    </select>
                                    <span style="right: 10px;" class="form-control-feedback" 
  										ng-show="FormForm.guide.$dirty || vm.loadingGuide" aria-hidden="true">
  										<i class="fa" ng-class="{ 
  											'fa-close fa-lg': FormForm.guide.$invalid && FormForm.guide.$dirty && !vm.loadingGuide && 
  												vm.hasStandard && vm.hasStandardDocument && vm.standard_document}"></i>
  									</span>
  									<span style="right: 10px;" ng-show="vm.loadingGuide" class="form-control-feedback" aria-hidden="true">
  										<i class="fa fa-spinner fa-pulse fa-lg"></i>
  									</span>
  									<div style="color: #a94442;" ng-messages="FormForm.guide.$error" 
  										ng-if="FormForm.guide.$dirty && vm.hasStandard && vm.hasStandardDocument && vm.standard_document">
								        <small ng-message="required">* Pedoman Mutu harus ditentukan terlebih dahulu.</small>
								    </div>
								    <small ng-show="vm.loadingGuide">* Load nama Standar Document</small>
								    <small ng-show="!vm.hasStandardDocument && !vm.loadingGuide && vm.standard && vm.standard_document">* Pedoman Mutu ini belum memiliki Dokumen Standar. harap buat Dokumen Standar terlebih dahulu</small>
                                </div>

                                <div class="form-group has-feedback"
	                				ng-class="{
	                					'has-error': FormForm.instruction.$invalid && FormForm.instruction.$dirty && !vm.loadingInstruction && vm.hasStandard && 
	                						vm.hasStandardDocument && vm.hasGuide && vm.guide }">
                                    <label class="control-label">Instruksi Kerja (SOP)</label>&nbsp;<label style="color: #a94442;">*</label>
                                    <select name="instruction" class="form-control" ng-options="option.id as option.no + ' ' + option.description for option in vm.instructions"  
                                    	ng-disabled="!vm.standard || !vm.standard_document || !vm.guide || vm.loadingStandardDocument || !vm.hasStandard || !vm.hasStandardDocument || !vm.hasGuide"
                                    	ng-model="vm.instruction.id" ng-change="vm.selectInstruction(vm.instruction.id)" ng-required="true">
                                    </select>
                                    <span style="right: 10px;" class="form-control-feedback" 
  										ng-show="FormForm.instruction.$dirty || vm.loadingInstruction" aria-hidden="true">
  										<i class="fa" ng-class="{ 
  											'fa-close fa-lg': FormForm.instruction.$invalid && FormForm.instruction.$dirty && !vm.loadingInstruction && vm.hasStandard && 
	                						vm.hasStandardDocument && vm.hasGuide && vm.guide }"></i>
  									</span>
  									<span style="right: 10px;" ng-show="vm.loadingInstruction" class="form-control-feedback" aria-hidden="true">
  										<i class="fa fa-spinner fa-pulse fa-lg"></i>
  									</span>
  									<div style="color: #a94442;" ng-messages="FormForm.instruction.$error" 
  										ng-if="FormForm.instruction.$dirty && vm.hasStandard && vm.hasStandardDocument && vm.hasGuide && vm.guide">
								        <small ng-message="required">* Pedoman Mutu harus ditentukan terlebih dahulu.</small>
								    </div>
								    <small ng-show="vm.loadingInstruction">* Load nama Standar Document</small>
								    <small ng-show="!vm.hasGuide && !vm.loadingInstruction && vm.standard && vm.standard_document && vm.guide">* Pedoman Mutu ini belum memiliki Instruksi Kerja. harap buat Instruksi Kerja terlebih dahulu</small>
                                </div>

                                <div class="form-group has-feedback"
	                				ng-class="{
	                					'has-error': FormForm.form.$invalid && FormForm.form.$dirty && !vm.loadingForm && vm.hasStandard && 
	                						vm.hasStandardDocument && vm.hasInstruction && vm.guide && vm.instruction }">
                                    <label class="control-label">Formulir</label>&nbsp;<label style="color: #a94442;">*</label>
                                    <select name="form" class="form-control" ng-options="option as option.no + ' ' + option.description for option in vm.forms"  
                                    	ng-disabled="!vm.standard || !vm.standard_document || !vm.guide || !vm.instruction || vm.loadingForm || !vm.hasStandard || 
                                    		!vm.hasStandardDocument || !vm.hasGuide || !vm.hasInstruction"
                                    	ng-model="vm.input" ng-required="true">
                                    </select>
                                    <span style="right: 10px;" class="form-control-feedback" 
  										ng-show="FormForm.form.$dirty || vm.loadingForm" aria-hidden="true">
  										<i class="fa" ng-class="{ 
  											'fa-close fa-lg': FormForm.form.$invalid && FormForm.form.$dirty && !vm.loadingForm && vm.hasStandard && 
	                						vm.hasStandardDocument && vm.hasInstruction && vm.guide && vm.instruction }"></i>
  									</span>
  									<span style="right: 10px;" ng-show="vm.loadingForm" class="form-control-feedback" aria-hidden="true">
  										<i class="fa fa-spinner fa-pulse fa-lg"></i>
  									</span>
  									<div style="color: #a94442;" ng-messages="FormForm.form.$error" 
  										ng-if="FormForm.form.$dirty && vm.hasStandard && vm.hasStandardDocument && vm.hasInstruction && vm.guide && vm.instruction">
								        <small ng-message="required">* Formulir harus ditentukan terlebih dahulu.</small>
								    </div>
								    <small ng-show="vm.loadingForm">* Load nama Formulir</small>
								    <small ng-show="!vm.hasInstruction && !vm.loadingForm && vm.standard && vm.standard_document && vm.guide && vm.instruction">* Instruksi Kerja ini belum memiliki Formulir. harap buat Formulir terlebih dahulu</small>
                                </div>


	                		</form>
	                	</div>
	                </div>
	                
                    <json-formatter ng-if="$root.APP_DEBUG" json="vm.input" open="1"></json-formatter>

	            </div>

	            <div class="modal-footer clearfix">
	                <div class="panel-title pull-right">
	                	<div class="form-inline">
		                	<button ng-click="vm.close()" class="btn btn-default"><i class="fa fa-undo"></i></button>
		                	<button ng-click="vm.submit(file)" class="btn btn-primary"
		                		ng-disabled="(FormForm.$invalid && vm.validated) || vm.existNo || vm.existDescription || vm.loadingNo || vm.loadingDescription">
		                		<i class="fa fa-save"></i>
		                	</button>
		                </div>
	                </div>
	            </div>

	      