    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Document Explorer</h1>
        </div>
    </div>

    <div class="row">
    	<div class="col-md-5">

    		<div class="panel panel-default">
	            <div class="panel-heading clearfix">
	            	<div class="panel-title pull-left">
	            		<h4>Document Tree</h4>
	            	</div>
	            </div>

             	<div class="panel-body">
             		<document-tree tree-data="vm.tree"></document-tree>
             	</div>
             </div>
    	</div>

    	<div class="col-md-7">
    		<ng-pdf template-url="app/components/partials/viewer.html" scale="page-fit"></ng-pdf>
    	</div>
    </div>
    
<div class="col-md-12" ng-if="admin.debug">
	<div class="col-md-6">
		<pre>
	 		{{ vm.pdfUrl | json }}
		</pre>
	</div>
	
	<div class="col-md-6">
		<pre>
		 {{ vm.tree | json }}
		</pre>
	</div>
</div>

