
	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">vm.task</h1>
	    </div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					Detail
					<div class="panel-title pull-right">
	                	<div class="form-inline">
	                		<div class="form-group">
	                			<a ui-sref="main.user.task" class="btn btn-warning btn-xs"><i class="fa fa-undo"></i></a>
	                		</div>
		                	
		                	
		                </div>
	                </div>

				</div>

				<div class="panel-body">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6"><label>Posisi Jabatan</label></div>
							<div class="col-md-6">: {{ vm.task.job.name }}</div>
						</div>
						<div class="row">
							<div class="col-md-6"><label>Nama Pekerjaan</label></div>
							<div class="col-md-6">: {{ vm.task.name }}</div>
						</div>
						<div class="row">
							<div class="col-md-6"><label>Deskripsi Pekerjaan</label></div>
							<div class="col-md-6">: {{ vm.task.work.description }}</div>
						</div>
						
					</div>

					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6"><label>Diberikan Tanggal</label></div>
							<div class="col-md-6">: {{ vm.task.created_at }}</div>
						</div>
						<div class="row">
							<div class="col-md-6"><label>Diserahkan Sebelum</label></div>
							<div class="col-md-6">: {{ vm.task.expired_at }}</div>
						</div>
						<div class="row">
							<div class="col-md-6"><label>Periode Pekerjaan</label></div>
							<div class="col-md-6">: {{ vm.task.work.type == 1 ? 'Harian' : 
								vm.task[0].work.type == 2 ? 'Mingguan' : 
								vm.task[0].work.type == 3 ? 'Bulanan' :
								vm.task[0].work.type == 4 ? 'Semesteran' : 'Tahunan' }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	 <div class="row">
    	<div class="col-lg-12">
	    	<div class="panel panel-default">
		    	<form role="form" enctype="multipart/form-data">
		            <div class="panel-heading clearfix">
		       
		                <div class="panel-title pull-right">
		                	<div class="form-inline">
			                	<div class="input-group custom-search-form">
							        <input type="text" class="form-control" ng-model="query" placeholder="Search...">
							        <span class="input-group-btn">
							            <button class="btn btn-default" type="button">
							                <i class="fa fa-search"></i>
							            </button>
							        </span>
							    </div>
			                	
			                </div>
		                </div>
		            </div>

		            <div class="panel-body">
		                <div class="table-responsive">
		                    <table class="table table-hover">
		                        <thead>
		                            <tr>
		                                <th>#</th>
		                                <th><a href="" ng-click="sortField = 'id' 			; reverse = !reverse">ID</a></th>
		                                <th><a href="" ng-click="sortField = 'university' 	; reverse = !reverse">Description</a></th>
		                                <th><a href="" ng-click="sortField = 'super' 		; reverse = !reverse">Status</a></th>
		                                <th>Upload</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            <tr ng-repeat="object in vm.task.tasks | filter:query | orderBy:sortField:reverse track by $index">
		                                <td>{{ $index + 1 }}</td>
		                                <td>{{ object.id }}</td>
		                                <td>{{ object.description }}</td>
		                                <td>{{ object.status === '1' ? 'Pending' : 'Complete' }}</td>
		                                <td>
		                                	<div class="form-inline">
			                				<a ng-href="{{ $root.API_HOST }}/upload/form/{{ object.document }}" class="btn btn-info btn-xs"  
			                					popover="Download Master Form" popover-trigger="mouseenter" target="_blank">
		                						<i class="fa fa-arrow-down"></i>
		                					</a>&nbsp;|
		                					<input type="file" class="form-control" ngf-select accept="*" ng-model="vm.task.files[object.id]" name="files[]">&nbsp;|
		                					<a ng-href="{{ $root.API_HOST }}/upload/task/{{ object.upload }}" ng-hide="!object.upload" class="btn btn-success btn-xs"  
			                					popover="Download Uploaded Form" popover-trigger="mouseenter" target="_blank">
		                						<i class="fa fa-arrow-down"></i>
		                					</a>
		                					</div>
		                				</td>
		                            </tr>
		                        </tbody>
		                    </table>
		                </div>
		            </div>

		            <div class="panel-footer clearfix">
		            	<div class="panel-title pull-right">
		                	<div class="form-inline">
			                	<div class="input-group custom-search-form">
							        <button ng-click="vm.submit()" class="btn btn-primary">Submit</button>
							    </div>
			                </div>
		                </div>
		            </div>
	           	</form>
	        </div>
       	</div>
   	</div>


       	{{ files }}