
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Project</h1>
        </div>
    </div>

    <div class="row">
    	<div class="col-lg-12">
	    	<div class="panel panel-default">
	            <div class="panel-heading clearfix">
	
	                <div class="panel-title pull-right">
	                	<div class="form-inline">
		                	<div class="input-group custom-search-form">
						        <input type="text" class="form-control" ng-model="query" placeholder="Search...">
						        <span class="input-group-btn">
						            <button class="btn btn-default" type="button">
						                <i class="fa fa-search"></i>
						            </button>
						        </span>
						    </div>
		                	
		                </div>
	                </div>
	            </div>

	            <div class="panel-body">
	                <div class="table-responsive">
	                    <table class="table table-hover">
	                        <thead>
	                            <tr>
	                                <th>#</th>
	                                <th><a href="" ng-click="sortField = 'nama'		; reverse = !reverse">Nama</a></th>
	                                <th><a href="" ng-click="sortField = 'start'	; reverse = !reverse">Mulai</a></th>
	                                <th><a href="" ng-click="sortField = 'ended'	; reverse = !reverse">Berakhir</a></th>
	                                <th><a href="" ng-click="sortField = 'pimpro'	; reverse = !reverse">Pimpro</a></th>
	                                <th><a href="" ng-click="sortField = 'status'	; reverse = !reverse">Status</a></th>
	                                <th>Action</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="object in vm.projects | filter:query | orderBy:sortField:reverse track by $index">
	                                <td>{{ $index + 1 }}</td>
	                                <td>{{ object.name }}</td>
	                                <td>{{ object.date_start | date: 'dd-MM-yyyy' }}</td>
	                                <td>{{ object.date_ended | date: 'dd-MM-yyyy' }}</td>
	                                <td>{{ object.leader.name }}</td>
	                                <td>
                                        <span class="label" ng-class="{
                                            'label-default': vm.showStatus(object.date_start, object.date_ended, object.status).code == '1',
                                            'label-info': vm.showStatus(object.date_start, object.date_ended, object.status).code == '2',
                                            'label-primary': vm.showStatus(object.date_start, object.date_ended, object.status).code == '3',
                                            'label-success': vm.showStatus(object.date_start, object.date_ended, object.status).code == '4',
                                            'label-danger': vm.showStatus(object.date_start, object.date_ended, object.status).code == '5'}">
                                            {{ vm.showStatus(object.date_start, object.date_ended, object.status).text }}
                                        </span>&nbsp;
                                        <span ng-if="object.score" class="label" ng-class="{
                                            'label-success': object.score >= 3.5,
                                            'label-primary': object.score < 3.5 && object.score >= 2.5,
                                            'label-warning': object.score < 2.5 && object.score >= 1.5,
                                            'label-danger': object.score < 1.5 }">{{ object.score }}
                                        </span>
                                    </td>
                                    <!--
                                        Project Status Definition
                                        1 = Initiation
                                        2 = Complete
                                        3 = Terminate    
                                    -->
	                                <td>
	                                	<a ng-click="vm.detail(object.id)" class="btn btn-info btn-xs" popover="Detail" popover-trigger="mouseenter">
	                                		<i class="fa fa-search"></i>
                                		</a>
	                                </td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
	            </div>
	        </div>
       	</div>
   	</div>

<pre ng-if="user.debug">
	{{ vm.input | json }}
</pre>