
	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">Group Job</h1>
	    </div>
	</div>

	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-default">
				            <div class="panel-heading clearfix">
				            	<div class="panel-title pull-left">
				            		<h4>Formulir</h4>
				            	</div>
				            </div>

			             	<div class="panel-body">
				                <div class="row">
				                	<div class="col-lg-12">
				                		<form name="GroupJobForm" role="form" ng-submit="vm.submit()" enctype="multipart/form-data">

				                			<div class="form-group has-feedback"
				                				ng-class="{
				                					'has-error': (vm.existName && !vm.loadingName) || GroupJobForm.name.$invalid && GroupJobForm.name.$dirty,
				                					'has-success': !vm.existName && !vm.loadingName && GroupJobForm.name.$valid && GroupJobForm.name.$dirty }">
		                                    	<label class="control-label">Nama Group Job</label>&nbsp;<label style="color: #a94442;">*</label>
				                				<input type="text" name="name" class="form-control" ng-model="vm.input.name" ng-required="true" ng-pattern="/^[a-zA-Z0-9 ]*$/">
				                				<span class="form-control-feedback" 
			  										ng-show="GroupJobForm.name.$dirty || vm.loadingName" aria-hidden="true">
			  										<i class="fa" ng-class="{ 
			  											'fa-close fa-lg': (vm.existName && !vm.loadingName) || GroupJobForm.name.$invalid && GroupJobForm.name.$dirty,
			  											'fa-spinner fa-pulse fa-lg': vm.loadingName && GroupJobForm.name.$valid,
			  											'fa-check fa-lg': !vm.existName && !vm.loadingName && GroupJobForm.name.$valid }"></i>
			  									</span>
			  									<div style="color: #a94442;" ng-messages="GroupJobForm.name.$error" ng-if="GroupJobForm.name.$dirty">
											        <small ng-message="required">* Nama Group Job harus diisi.</small>
											        <small ng-message="pattern">* Nama Group Job hanya terdiri dari huruf dan angka.</small>
											    </div>
											    <small ng-show="loadingName && GroupJobForm.name.$valid">* Cheking Group Job</small>
											    <small style="color: #a94442;" 
											    	ng-show="vm.existName && GroupJobForm.name.$valid && GroupJobForm.name.$dirty && !vm.loadingName ">
											    	* Nomor Induk Karyawan ini sudah ada didalam database.
										    	</small>
				                			</div>

				                			<div class="form-group has-feedback"
				                				ng-class="{
				                					'has-error': GroupJobForm.description.$invalid && GroupJobForm.description.$dirty
				                				}">
				                				<label class="control-label">Deskripsi Group Job</label>&nbsp;<label style="color: #a94442;">*</label>
				                				<textarea type="text" name="description" class="form-control" 
				                					ng-model="vm.input.description" ng-required="true" ng-pattern="/^[a-zA-Z0-9 ]*$/"></textarea>
				                				<div style="color: #a94442;" ng-messages="GroupJobForm.description.$error" ng-if="GroupJobForm.description.$dirty">
											        <small ng-message="required">* Deskripsi Group Job harus diisi.</small>
											        <small ng-message="pattern">* Deskripsi Group Job hanya terdiri dari huruf dan angka.</small>
											    </div>
				                			</div>

				                			<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />

				                		</form>
				                	</div>
				                </div>
				            </div>
				        </div>
				    </div>

				    <div class="col-md-12">
					   	<div class="panel panel-default">
						    <div class="panel-heading clearfix">
						    	<div class="panel-title pull-left">
				            		<h4>Jabatan User</h4>
				            	</div>
						        <div class="panel-title pull-right">
						        	<div class="form-inline">
						        		<button ng-click="vm.addJob()" class="btn btn-primary">Add New</button>
						            	<div class="input-group custom-search-form">
									        <input type="text" class="form-control" ng-model="query" placeholder="Search...">
									        <span class="input-group-btn">
									            <button class="btn btn-default" type="button">
									                <i class="fa fa-search"></i>
									            </button>
									        </span>
									    </div>
						            	
						            </div>
						        </div>
						    </div>

						    <div class="panel-body">
						        <div class="table-responsive">
						            <table class="table table-hover">
						                <thead>
						                    <tr>
						                        <th>#</th>
						                        <th><a href="" ng-click="sortField = 'university' 	; reverse = !reverse">Universitas</a></th>
						                        <th><a href="" ng-click="sortField = 'department' 	; reverse = !reverse">Department</a></th>
						                        <th><a href="" ng-click="sortField = 'job' 			; reverse = !reverse">Jabatan</a></th>
						                        <th>Action</th>
						                    </tr>
						                </thead>
						                <tbody>
						                    <tr ng-repeat="object in vm.input.jobs | filter:query | orderBy:sortField:reverse track by $index">
						                        <td>{{ $index + 1 }}</td>
						                        <td>{{ object.department.university.name }}</td>
						                        <td>{{ object.department.name }}</td>
						                        <td>{{ object.name }}</td>
						                        <td>
						                        	<button ng-click="vm.update(object, $index)" class="btn btn-success btn-xs">
						                        		<i class="fa fa-edit"></i>
						                        	</button>&nbsp;|&nbsp;
						                        	<button ng-click="vm.destroy(object, $index)" class="btn btn-danger btn-xs">
						                        		<i class="fa fa-close"></i>
						                        	</button>
						                        </td>
						                    </tr>
						                </tbody>
						            </table>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel-footer clearfix">
                <div class="panel-title pull-right">
                	<div class="form-inline">
	                	<a ui-sref="main.admin.groupJob" class="btn btn-default"><i class="fa fa-undo"></i></a>
	                	<button ng-click="vm.submit()" class="btn btn-primary" ng-disabled="(GroupJobForm.$invalid && validated) || loadingName"><i class="fa fa-save"></i></button>
	                </div>
                </div>
            </div>
		</div>

			<div class="col-lg-6">
		    	
		   	</div>
	</div>

<pre ng-if="admin.debug">
	{{ vm.input | json }}
</pre>